.form-checkout {
  position: relative;
  max-width: rem(864);
  margin-top: rem(50);
  margin-bottom: rem(50);
  margin-left: auto;
  margin-right: auto;

  &::after {
    content: ' ';
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparentize($color: $color--lightgray-bg, $amount: 0.2);
    animation: fade-in $transition-duration * 2 ease-out forwards;
  }

  h2 {
    flex-basis: 100%;
    margin-bottom: 0;
    font-size: rem($font-size--h2);
  }

  > div {
    width: 100%;
  }

  label {
    @extend %label;
    margin-top: rem(35);
    flex-basis: calc(50% - #{rem(48 * 0.5)});
    flex-grow: 0;

    &.is-full {
      flex-basis: 100%;
    }

    &.is-1-3 {
      flex-basis: calc(33.33% - #{rem(48 * 0.5)});
    }

    &.is-2-3 {
      flex-basis: calc(66.66% - #{rem(48 * 0.5)});
    }

    &.is-option {
      margin-top: rem(20);
    }
  }

  input {
    @extend %input;
  }

  .StripeElement {
    @extend %input;
    padding-left: rem(16);
    padding-top: rem(9);
  }

  .error {
    margin-top: rem(10);
  }

  &.is-loading {
    label {
      opacity: 0.7;
    }
  }

  &.is-deactivated {
    &::after {
      display: block;
    }
  }

  @media (max-width: em(640)) {
    label {
      flex-basis: 100%;

      &.is-full,
      &.is-1-3,
      &.is-2-3 {
        flex-basis: 100%;
      }
    }
  }
}


.form-checkout__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    text-decoration: underline;
    color: inherit;
  }

  &[hidden] {
    display: none;
  }

  &--payment-selection {
    @extend .form-checkout__section;
    justify-content: flex-start;
  }

  @media (max-width: em(512 - 1)) {
    &--payment-selection {
      display: block;
    }
  }
}


.form-checkout__submit {
  flex-basis: 100%;
  margin-top: rem(50);

  .error {
    margin-top: 0;
    margin-bottom: rem(10);
  }

  .button {
    transition-delay: $transition-duration;
  }

  .form-checkout.is-loading & {
    .button {
      color: transparent;
      transition-delay: 0s;

      &::after {
        opacity: 1;
        transition-delay: $transition-duration;
      }
    }
  }
}

.form-checkout__error {
  margin-top: rem(50);
  flex-basis: 100%;
  color: $color--red;
}


.form-checkout__payment-method {
  flex-basis: 100%;

  > div {
    margin-top: rem(40);
    // border: rem(1) solid $color--gray;
  }
}
