@font-face {
  font-family: 'Century Schoolbook';
  font-style: normal;
  font-weight: normal;
  src: local('Century Schoolbook'), local('Century Schoolbook'),
       url('../fonts/century-schoolbook.woff2') format('woff2'),
       url('../fonts/century-schoolbook.woff') format('woff');
}
