$color--black: hsl(0, 0%, 0%);
$color--darkgray: hsl(0, 0%, 10%);
$color--gray: hsl(0, 0%, 40%);
$color--lightgray-bg: hsl(0, 0%, 98%);
$color--white: hsl(0, 0%, 100%);
$color--red: hsl(0, 80%, 40%);
