$font-family--helvetica-neue: 'Helvetica Neue', 'Helvetica', sans-serif;

$font-size--text: 17;
$font-size--big: 21;
$font-size--small: 13;
$font-size--h1: 38;
$font-size--h2: 29;
$font-size--h3: 23;

$line-height--text: 25 / $font-size--text;
$line-height--small: 15 / $font-size--small;
$line-height--big: 30 / $font-size--big;
$line-height--h1: 40 / $font-size--h1;
$line-height--h2: 32 / $font-size--h2;
